= form_tag "###URL###", multipart: true, remote: true, style: 'display: none;', method: :post, authenticity_token: true do
  = hidden_field_tag :container, '###CONTAINER###', id: nil
  = hidden_field_tag :version,   '###VERSION###', id: nil
  = hidden_field_tag :free_size,   '###FREE_SIZE###', id: nil
  = file_field_tag :image, id: nil