.page-header
  %h1= Market::Product.model_name.human

= actions do
  = create_link(new_admin_market_product_path)

= table_for(Market::Product).content(@products) do |t|
  - t.column :name
  - t.column :sku, class: "text-center", cols: 1
  - t.column :price, class: "text-left", cols: 1
  - t.edit
  - t.delete

= admin_paginate @products

= actions do
  = create_link(new_admin_market_product_path)